*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
.DS_Store
**/__pycache__/
/build
**/build/
/captures
artifacts/
.externalNativeBuild
.cxx
local.properties
